<main>
<div class="row">
  {{#each project}}
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="responsive-img activator" src="{{this.imageUrl}}" alt="{{this.altText}}">
      </div>
      <div class="card-content">
        <span class="card-title activator black-text text-darken-4">{{ this.name }}<i class="material-icons right">info</i></span>
        <p style="color:white;"><a href="{{this.gitUrl}}">Github</a>
        {{#if this.herokuUrl}}
          |  <a href="{{this.herokuUrl}}">Launch App on Heroku</a>
        {{/if}}
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title">{{ this.name }}<i class="material-icons right">close</i></span>
        <p>{{this.description}}</p>
      </div>
    </div>
  </div>
  {{/each}}
  </div>
</main>
